* {
	font-family: Nunito, sans-serif;
}

.red {
	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 0.5rem;
	padding: 0 0.5rem;
	width: 6.2rem;

	color: rgba(151, 29, 29, 1);
	background-color: rgba(255, 239, 239, 1);
}

.green {
	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 0.5rem;
	padding: 0 0.5rem;
	width: 6.2rem;

	color: rgba(31, 167, 175, 1);
	background-color: rgba(238, 246, 246, 1);
}

.yellow {
	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 8px;
	padding: 0 0.5rem;
	width: 6.2rem;

	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

	color: var(--apoio-amarelo-normal, #c5a605);
	background: #fcf6dc;
}
