.table-infos-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;

  width: 100%;
  height: 3.625rem;
  border-bottom: 0.0625rem solid rgba(239, 240, 246, 1);

  font-family: Nunito, sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.table-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;

  width: 100%;
  height: 3rem;
  padding-left: 2rem;

  border-bottom: 0.0625rem solid rgba(239, 240, 246, 1);

  color: rgba(110, 110, 133, 1);
  font-family: Nunito, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.data-name {
  width: 6.7rem;
}

.data-id {
  width: 5rem;
}

.data-value {
  width: 4.75rem;
}

.data-cpf {
  width: 8rem;
}

.client-id {
  padding-left: 1.5rem;
}