body {
    background-color: rgba(248, 248, 249, 1);
}

.clients-dashboard {
    display: flex;
    flex-direction: row;
    gap: 6.25rem;

}

.client-padding {
    padding: 5rem 0 0 3rem;
}

.clients-fixed {
    position: fixed;
}

.clients-page {
    padding-left: 10.5rem;
}

.client-content {
    padding-top: 8rem;
}