.dashboard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0 1.25rem 5.125rem;
    margin: 0 2rem;
    border-bottom: 0.0625rem solid rgba(172, 217, 197, 1);
}

.dashboard-user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgba(14, 135, 80, 1);
}

.dashboard-user-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;

    border-radius: 50%;
    background-color: rgba(222, 222, 233, 1);
}

.dashboard-user-chevron{
    cursor: pointer;
}